<link href="/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
<link href="/static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

<!-- Data Tables -->
<link href="/static/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

<link href="/static/css/animate.min.css" rel="stylesheet">
<link href="/static/css/style.min.css?v=4.1.0" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">

<!-- Bootstrap MultiSelect -->
{#<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">#}
{#<link rel="stylesheet" type="text/css" href="/static/css/prettify.min.css">#}
{#<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-duallistbox.css">#}