{% load my_tag %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="shortcut icon" href="favicon.ico">
    <link href="/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css?v=4.1.0" rel="stylesheet">
    <script>if (window.top !== window.self) {
        window.top.location = window.location;
    }</script>

</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>


        </div>
        </br>
        </br>
        </br>
        </br>
        <h3>重置密码({{ request.user.userprofile.username }})</h3>


        <form class="m-t" role="form" action="{% url 'reset_password' %}" method="post">
                            {% csrf_token %}

            <div class="form-group">
                {{ form.oldpassword }}
            </div>

            <div class="form-group">
                {{ form.password }}
{#                <input type="password" class="form-control" placeholder="请输入密码" required="">#}
            </div>
            <div class="form-group">
                {{ form.repassword }}
{#                <input type="password" class="form-control" placeholder="请再次输入密码" required="">#}
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">重 置</button>
            {% if errors.successfull %}
                <div class="alert" style=""> {% error_msg errors.successfull %}</div>
            {% endif %}

            {% if errors.login %}
                <div class="alert alert-danger" role="alert"> {% error_msg errors.login %}</div>
            {% endif %}
            <p class="text-muted text-center">
                <a href="{% url 'login' %}">点此登录</a>
            </p>

        </form>
    </div>
</div>
<script src="/static/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="/static/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
    });
</script>
</body>

</html>
